## dataframe存列表list

In [1]:
import pandas as pd
import numpy as np
 
l1 = [1,2,3,4]
l2 = [.1,.2,.3,.4]
 
lists = np.array([l1,l2])
lists

array([[1. , 2. , 3. , 4. ],
       [0.1, 0.2, 0.3, 0.4]])

In [2]:
lists = list(lists)
lists

[array([1., 2., 3., 4.]), array([0.1, 0.2, 0.3, 0.4])]

In [3]:
labels = [1,0]
 
df = pd.DataFrame()
df["list"] = lists
df["label"] = labels
 
print(df)

                   list  label
0  [1.0, 2.0, 3.0, 4.0]      1
1  [0.1, 0.2, 0.3, 0.4]      0

In [4]:
df.to_csv('myfile.csv')

In [4]:
x = np.random.randn(100)
y = 2 * x + np.random.randn(100)


data = pd.DataFrame()
data["A"] = list([np.array(x)])
data["B"] = list([np.array(y)])
data

,A,B
0,"[2.2537012292214302, 0.043285521462098825, 0.5...","[4.341806399715074, 0.41215939342741625, 0.983..."

In [1]:
import pandas as pd
import numpy as np
data = [{'a':1,'b':2},{'a':1,'b':2}]
df = pd.DataFrame(data)
df

   a  b
0  1  2
1  1  2